{% extends 'base.html' %}
{% from 'macros/form_fields.html' import render_fields %}

{% block title %}
  <h1>Добавление операции</h1>
{% endblock %}

{% block body %}
  {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
<form method="POST" class="container">
  {{ form.csrf_token() }}
  {% for field in form if field.name not in ['csrf_token',
      'submit'] %}
    {{ render_fields(field) }}
  {% endfor %}
  <div>
    {{ form.submit(class="btn btn-primary btn-lg") }}
  </div>
</form>
{% endblock %}