{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h3> Список операций </h3>
    {% if operations %}
      {% for operation in operations %}
        <div>
          <h4> Название операции</h4>{{ operation.name }}
          <h4> Дата операции</h4>{{ operation.data }}
          <h4> Дата операции</h4> {{ operation.operators }}
        </div>
      {% endfor %}
    {% else %}
      <h3>Операции не найдены</h3>
    {% endif %}
  </div>
  <div class="container">
    <form action="{{ url_for('operations_app.create') }}">
      <button type="submit" class="btn btn-success" "> Добавить
        операцию</button>
      </form>
  </div>
{% endblock %}