
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="field1">Field 1:</label>
					<input type="text" class="form-control" id="field1" name="field1">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="field2">Field 2:</label>
					<input type="text" class="form-control" id="field2" name="field2">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="field3">Field 3:</label>
					<input type="text" class="form-control" id="field3" name="field3">
				</div>
			</div>
		</div>


			<div class="col-md-3 row">
				<div class="form-group">
					<label for="field4">Field 4:</label>
					<input type="text" class="form-control" id="field4" name="field4">
				</div>
			</div>
			<div class="col-md-3 row">
				<div class="form-group">
					<label for="field5">Field 5:</label>
					<input type="text" class="form-control" id="field5" name="field5">
				</div>
			</div>
			<div class="col-md-3 row">
				<div class="form-group">
					<label for="field6">Field 6:</label>
					<input type="text" class="form-control" id="field6" name="field6">
				</div>
			</div>
			<div class="col-md-3 row">
				<div class="form-group">
					<label for="field7">Field 7:</label>
					<input type="text" class="form-control" id="field7" name="field7">
				</div>

		</div>

	</div>
