{% extends 'base.html' %}
{% from 'macros/form_fields.html' import render_fields %}
{% block title %}
  Login
{% endblock %}

{% block body %}
  <h1>Авторизация</h1>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
<form method="POST" class="container">
  {{ form.csrf_token() }}
  {% for fields in ['first_name', 'password'] %}
    {{ render_fields(form[fields]) }}
  {% endfor %}
  <div>
    {{ form.submit(class="btn btn-primary btn-lg") }}
  </div>
</form>
{% endblock %}